In [1]:
import pandas as pd

Neighborhoods dataframe was previously exported to .csv in order to join it with the Geospatial_Coordinates.csv. Reading both into memory.

In [2]:
neighborhoods = pd.read_csv('Neighbourhoods.csv', index_col = 0)
coordinates = pd.read_csv('Geospatial_Coordinates.csv')

In [3]:
coordinates.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

The 'Postal Code' column was named 'Postcode' in the Neighborhoods dataframe. The column name will need to be changed prior to merging.

In [4]:
coordinates.rename({'Postal Code' : 'Postcode'}, axis = 1, inplace = True)

Inner join performed thusly:

In [5]:
df = pd.merge(neighborhoods, coordinates)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 103 entries, 0 to 102
Data columns (total 5 columns):
Postcode         103 non-null object
Borough          103 non-null object
Neighbourhood    103 non-null object
Latitude         103 non-null float64
Longitude        103 non-null float64
dtypes: float64(2), object(3)
memory usage: 4.8+ KB

Resulting dataframe has the same number of non-null rows as the Neighborhoods dataframe, and looks like this:

In [7]:
df.head()

,Postcode,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge, Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476