In [1]:
import pandas as pd
import numpy as np

Read table into memory from Wikipedia page.

In [2]:
df = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M', match = 'Postcode')[0]

Replace cell's in Borough column containing 'Not assigned' with NaN.

In [3]:
df.replace({'Borough': {'Not assigned': np.nan}}, inplace = True)

Drop row's containing NaN in the Borough column.

In [4]:
df.dropna(inplace = True)

Group dataframe by Postcode and Borough, and join all neighbourhood names (separated by comma) in Neighborhood column

In [5]:
df = df.groupby(['Postcode', 'Borough'])['Neighbourhood'].apply(lambda x: ', '.join(x)).to_frame().reset_index()

Identify cells in Neighbourhood column with value set as 'Not assigned'

In [6]:
df[df.Neighbourhood == 'Not assigned']

   Postcode       Borough Neighbourhood
85      M7A  Queen's Park  Not assigned

Verify number of rows with Borough as "Queen's Park"

In [7]:
df[df.Borough == "Queen's Park"]

   Postcode       Borough Neighbourhood
85      M7A  Queen's Park  Not assigned

Since it's just the one row, Neighbourhood name will be set as Borough name using the .loc method

In [8]:
df.loc[df['Borough'] == "Queen's Park", 'Neighbourhood'] = "Queen's Park"

Verify results:

In [9]:
df[df.Borough == "Queen's Park"]

   Postcode       Borough Neighbourhood
85      M7A  Queen's Park  Queen's Park

Inspect first 10 rows of resulting dataframe:

In [10]:
df.head(10)

  Postcode      Borough                                    Neighbourhood
0      M1B  Scarborough                                   Rouge, Malvern
1      M1C  Scarborough           Highland Creek, Rouge Hill, Port Union
2      M1E  Scarborough                Guildwood, Morningside, West Hill
3      M1G  Scarborough                                           Woburn
4      M1H  Scarborough                                        Cedarbrae
5      M1J  Scarborough                              Scarborough Village
6      M1K  Scarborough      East Birchmount Park, Ionview, Kennedy Park
7      M1L  Scarborough                  Clairlea, Golden Mile, Oakridge
8      M1M  Scarborough  Cliffcrest, Cliffside, Scarborough Village West
9      M1N  Scarborough                      Birch Cliff, Cliffside West

Identify number of rows in resulting dataframe:

In [11]:
print("There are " + str(df.shape[0]) + " rows in the dataframe.")

There are 103 rows in the dataframe.